In [1]:
import pandas as pd
train_data = pd.read_csv('train_cleaned.csv')
test_data= pd.read_csv('test.csv')
train_data['isTrain'] = 1
test_data['isTrain'] = 0
frames = [train_data, test_data]
df = pd.concat(frames)

In [2]:
df.describe()

,age,industry_code,occupation_code,wage_per_hour,capital_gains,capital_losses,dividend_from_Stocks,num_person_Worked_employer,business_or_self_employed,veterans_benefits,weeks_worked_in_year,year,isTrain
count,299285.000000,299285.000000,299285.000000,299285.000000,299285.000000,299285.000000,299285.000000,299285.000000,299285.000000,299285.000000,299285.000000,299285.000000,299285.000000
mean,34.538998,15.345818,11.314743,55.105027,431.742176,36.849010,195.851259,1.956172,0.176461,1.516498,23.178375,94.499998,0.666666
std,22.318468,18.053638,14.455980,273.340729,4670.768536,269.789771,1937.847082,2.364857,0.555240,0.850395,24.404016,0.500001,0.471406
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,94.000000,0.000000
25%,15.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2.000000,0.000000,94.000000,0.000000
50%,33.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,2.000000,8.000000,94.000000,1.000000
75%,50.000000,33.000000,26.000000,0.000000,0.000000,0.000000,0.000000,4.000000,0.000000,2.000000,52.000000,95.000000,1.000000
max,90.000000,51.000000,46.000000,9999.000000,99999.000000,4608.000000,99999.000000,6.000000,2.000000,2.000000,52.000000,95.000000,1.000000

In [3]:
df.dtypes

age                                  int64
class_of_worker                     object
industry_code                        int64
occupation_code                      int64
education                           object
wage_per_hour                        int64
enrolled_in_edu_inst_lastwk         object
marital_status                      object
major_industry_code                 object
major_occupation_code               object
race                                object
hispanic_origin                     object
sex                                 object
member_of_labor_union               object
reason_for_unemployment             object
full_parttime_employment_stat       object
capital_gains                        int64
capital_losses                       int64
dividend_from_Stocks                 int64
tax_filer_status                    object
region_of_previous_residence        object
state_of_previous_residence         object
d_household_family_stat             object
d_household_summary                 object
migration_msa                       object
migration_reg                       object
migration_within_reg                object
live_1_year_ago                     object
migration_sunbelt                   object
num_person_Worked_employer           int64
family_members_under_18             object
country_father                      object
country_mother                      object
country_self                        object
citizenship                         object
business_or_self_employed            int64
fill_questionnaire_veteran_admin    object
veterans_benefits                    int64
weeks_worked_in_year                 int64
year                                 int64
income_level                        object
isTrain                              int64
dtype: object

In [4]:
df['sex'].describe()

count     299285
unique         4
top       Female
freq      103984
Name: sex, dtype: object

In [5]:
df['sex'] = df['sex'].apply(lambda x: x.strip())

In [6]:
df['sex'].describe()

count     299285
unique         2
top       Female
freq      155775
Name: sex, dtype: object

In [7]:
for ctype in df.columns[df.dtypes == 'object']:
    df[ctype] = df[ctype].factorize()[0];

In [8]:
df['sex'].unique()
df['isTrain'].value_counts()

1    199523
0     99762
Name: isTrain, dtype: int64

In [9]:
train_data = df[df.isTrain == 1]
train_data.shape

(199523, 42)

In [10]:
X = train_data.filter([coln for coln in train_data.columns if coln != 'income_level'])

In [11]:
y = train_data['income_level']

In [12]:
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier()
rf.fit(X,y)

/usr/local/lib/python3.6/dist-packages/sklearn/ensemble/forest.py:248: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=None,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False)

In [13]:
import matplotlib.pyplot as plt
import numpy as np


plt.plot(rf.feature_importances_)
plt.xticks(np.arange(X.shape[1]), X.columns.tolist() , rotation=80)
plt.show()

In [14]:
imp = pd.DataFrame(rf.feature_importances_ ,X.columns.tolist())

In [40]:
imp

                                         0
Unnamed: 0                        0.095346
age                               0.093067
class_of_worker                   0.022905
industry_code                     0.061200
occupation_code                   0.071943
education                         0.058667
wage_per_hour                     0.011811
enrolled_in_edu_inst_lastwk       0.001236
marital_status                    0.017559
major_industry_code               0.043493
major_occupation_code             0.054548
race                              0.009118
hispanic_origin                   0.006512
sex                               0.029416
member_of_labor_union             0.012186
reason_for_unemployment           0.002314
full_parttime_employment_stat     0.015565
capital_gains                     0.089899
capital_losses                    0.026391
dividend_from_Stocks              0.080976
tax_filer_status                  0.013787
region_of_previous_residence      0.002748
state_of_previous_residence       0.004060
d_household_family_stat           0.017461
d_household_summary               0.009893
migration_msa                     0.002474
migration_reg                     0.002522
migration_within_reg              0.002699
live_1_year_ago                   0.010163
migration_sunbelt                 0.002107
num_person_Worked_employer        0.039855
family_members_under_18           0.000562
country_father                    0.011863
country_mother                    0.012320
country_self                      0.006395
citizenship                       0.007013
business_or_self_employed         0.013097
fill_questionnaire_veteran_admin  0.001869
veterans_benefits                 0.001743
weeks_worked_in_year              0.024807
year                              0.008412

In [15]:
test_data = df[df.isTrain == 0]
X_test = test_data.filter([coln for coln in train_data.columns if coln != 'income_level'])
y_test = test_data['income_level']

In [17]:
from sklearn.model_selection import cross_val_predict
predict = cross_val_predict(rf , X_test , y_test , cv = 10)

In [19]:
from sklearn.metrics import confusion_matrix , precision_score , recall_score , f1_score
confusion_matrix(y_test , predict)

array([[92589,   987],
       [ 3821,  2365]])

In [20]:
precision_score(y_test , predict , average='micro')

0.9518052966059221

In [21]:
precision_score(y_test , predict , average='macro')

0.8329580539209656

In [22]:
recall_score(y_test , predict , average='macro')

0.6858836641608637

In [23]:
f1_score(y_test , predict , average='macro')

0.7353019822892911